/*sumair */
@font-face {
  font-family: Graphik;
  src: url("/basketball/fonts/Graphik.ttc");
}
@font-face {
  font-family: hulustyle-bold;
  src: url("/basketball/fonts/hulustyle-bold-webfont.ttf");
}
@font-face {
  font-family: hulustyle-extrabold;
  src: url("/basketball/fonts/hulustyle-extrabold-webfont.ttf");
}
@font-face {
  font-family: hulustyle-extralight;
  src: url("/basketball/fonts/hulustyle-extralight-webfont.ttf");
}
@font-face {
  font-family: hulustyle-heavy;
  src: url("/basketball/fonts/hulustyle-heavy-webfont.ttf");
}
@font-face {
  font-family: hulustyle-light;
  src: url("/basketball/fonts/hulustyle-light-webfont.ttf");
}
@font-face {
  font-family: hulustyle-medium;
  src: url("/basketball/fonts/hulustyle-medium-webfont.ttf");
}
@font-face {
  font-family: hulustyle-regular;
  src: url("/basketball/fonts/hulustyle-regular-webfont.ttf");
}
/* for switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin: auto 0px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #43f979;
}

input:focus + .slider {
  box-shadow: 0 0 1px #43f979;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* end for switch */

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

#exitBtn2 {
  display: none;
  cursor: pointer;
}

#retake {
  display: none;
  cursor: pointer;
}

.retake-font {
  font-family: hulustyle-extrabold;
}

.download-link-font {
  font-family: hulustyle-extrabold;
}

#downloadlink2 {
  display: none;
  cursor: pointer;
}

#buttonContainerDesktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photoboothDescription {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0, 255, 150); Fallback color (ayyaz has commented this line) */
  background-color: #43f979 !important;
  background-image: url("/homebg.png");
}

#savedImage {
  display: none; /* Hidden by default */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  color: #1ce783;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0, 255, 150); Fallback color (ayyaz has commented this line) */
  background-color: rgb(0, 0, 0, 0.8);
  /* background-image: url("/homebg.png"); */
}

.start-over-btn {
  font-size: 11px !important;
  font-weight: 900 !important;
  letter-spacing: 1px !important;
  color: #4a4a4a !important;
}

.start-over-btn:hover {
  background-color: #43f979 !important;
}

.heading-saved-image {
  font-family: hulustyle-extrabold;
  color: white;
  font-size: 32px;
  width: 25%;
}

.photoboothDescription-content {
  background-color: #151515;
  color: white;
  margin: auto;
  padding: 50px 100px;
  width: 80%;
  text-align: left;
}

.fan-cam-outer {
  margin-top: 30px;
}

.fan-cam {
  border: solid black 10px;
}

.countDown {
  display: flex;
  display: -webkit-flex;
  width: 45%;
  justify-content: flex-end;
  align-content: center;
}
.countDown span {
  margin-right: 10px;
}
.camera-icon-desktop {
  display: flex;
  display: -webkit-flex;
  width: 55%;
  justify-content: flex-start;
  align-content: center;
}
.fanCamera {
  margin-top: 1px;
}
.camera-icon-disabled-desktop {
  display: none;
  display: -webkit-flex;
  width: 55%;
  justify-content: flex-start;
  align-content: center;
}
.photoTakenDiv1 {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.photoTakenDiv2 {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.photoTakenDiv3 {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.photoTakenDiv4 {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .photoboothDescription-content {
    width: 55% !important;
  }
}

.description_instructions_container {
  margin-bottom: 25px;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  /* margin: 50px 0px; */
  color: white;
}

.description_instructions_container td {
  width: 50%;
  padding: 10px;
}

.photobooth-description-forMobile {
  display: none;
}

.photobooth-description-paragraph {
  display: block;
}

#letsGo {
  display: none;
  font-family: Graphik;
}

#gotIt {
  background-color: white;
  border: 0px solid black;
  border-radius: 5px;
  width: 15%;
  padding: 30px;
  color: black;
  font-size: 32px;
}

/* #startOver {
  background-color: #43f979;
  border: 0px solid black;
  border-radius: 5px;
  width: 15%;
  padding: 10px;
} */

body {
  text-align: center;
  background-color: #a1d0dc;
  margin: 0;
  transition: background-color 0.2s;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #43f979 !important;
  background-image: url("/homebg.png");
}
body.count form,
body.pose form,
body.ready form,
body.error form {
  display: none;
}
body.pose {
  background-color: #96e4a0;
}
body.error {
  background-color: #e4665e;
}
body.pose #statustext,
body.ready #statustext {
  animation: pulse 1s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
body.pose #statustext {
  color: #149036;
  text-shadow: 2px 3px 0px #d1ffcf;
}
body.error #statustext {
  color: #af2323;
  text-shadow: 2px 3px 0px #ffcfcf;
}
video {
  display: initial;
  height: 1px;
  width: 1px;
}
canvas {
  width: 30%;
}
#basketball {
  width: 30%;
  position: absolute;
  /*position: -webkit-absolute;*/
  /* display: flex;
  display: -webkit-flex; */
  left: 0;
  right: 0;
  /*align-items: center;*/
  /*justify-content: center;*/
  margin-left: auto;
  margin-right: auto;
}
/* //////////////// */
#processing {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  right: 0%;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 50;
  top: 0;
}
.cameraPic {
  height: 30px;
  width: 30px;
}
.cameraIconDisabled {
  height: 30px;
  width: 30px;
}
/* ///////////////////////// */
#buttonContainer {
  background: black;
  color: white;
  display: none;
  width: 30%;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 40px; */
  text-align: left;
}

/* ////////////////////////// */
#cameraIcon {
  cursor: pointer;
  /* margin-top: 10px;
  width: 12%;
  margin-bottom: 10px;
  margin-right: 37%; */
}

#cameraIconDisabled {
  display: none;
  /* margin-top: 10px;
  width: 12%;
  margin-bottom: 10px;
  margin-right: 37%; */
}
/* //////////////////////// */
#cameraIconMobile {
  display: none;
}

#contrastBtn {
  display: block;
}

#cameraBtnLabel {
  display: none;
}

#count3 {
  margin-left: 40px;
}
#count1 {
  margin-right: 40px;
}
.counting {
  color: darkslategray;
  padding: 10px;
  font-size: 20px;
  /* margin-right: -25%; */
  visibility: hidden;
  display: flex;
}

.switchCameraContainer {
  display: none;
}

#editMenu {
  display: none;
}

#downloadLink {
  display: none;
}

.buttonContainerMobile {
  display: none;
}

#preview-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background: rgba(0, 0, 0, 0.7);
}
#preview-wrapper.active {
  display: none;
}
.links a {
  display: block;
  margin-left: 10px;
  color: white;
  font-size: 25px;
  text-decoration: none;
  margin-bottom: 20px;
}
.links {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
#preview {
  /* max-height: calc(100% - 100px); */
  width: 30%;
  display: none;
}
#statustext {
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  color: #147d90;
  text-shadow: 2px 3px 0px #cff8ff;
  font-size: 75px;
}
#purikura {
  display: none;
}
form {
  display: block;
  text-align: left;
  max-width: 50%;
  margin: 20px auto;
  background: #b4e1ec;
  padding: 20px;
}
input,
select {
  margin-bottom: 15px;
  display: block;
}
input[type="text"],
select {
  padding: 5px;
  font-size: 15px;
}
label,
form p {
  display: block;
  margin-bottom: 5px;
  color: #147d90;
  text-shadow: 1px 1px 0px #cff8ff;
}
form p {
  font-size: 14px;
  margin-bottom: 25px;
  margin-top: -10px;
}

#TurnOnCameraContainer {
  display: flex;
}

@media (max-width: 800px) {
  canvas {
    width: 85vw;
  }

  #preview {
    display: none;
    width: 85vw;
  }
  #basketball {
    width: 85vw;
    position: absolute;
    position: -webkit-absolute;
    left: 0;
    right: 0;
  }
  #buttonContainer {
    width: 85vw;
    /* margin-top: 30px; */
  }
  #statustext {
    font-size: 60px;
  }
  form {
    max-width: none;
  }

  .fan-cam-outer {
    margin-top: 0px;
  }

  .fan-cam {
    border: solid black 5px;
  }
  .heading-saved-image {
    width: auto;
    padding: 0 8px;
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  /* #startOver {
    display: none;
  } */
  .photoboothDescription {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #43f979;
    background-image: url(#);
  }

  #savedImage {
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    color: #1ce783;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0, 255, 150); Fallback color (ayyaz has commented this line) */
    background-color: rgb(0, 0, 0, 0.8);
    /* background-image: url("/homebg.png"); */
  }

  .photoboothDescription-content {
    background-color: #151515;
    color: black;
    margin: auto;
    padding: 0px 0px;
    width: 90%;
    text-align: left;
  }

  .description_instructions_container {
    display: none;
  }

  .description_instructions_container td {
    width: 50%;
    padding: 10px;
  }
  .photobooth-description-forMobile {
    display: none;
    text-align: justify;
  }
  .description_instructions_container {
    display: block;
  }
  .photobooth-description-paragraph {
    display: block !important;
  }

  #letsGo {
    margin-top: 20px;
    color: #4a4a4a;
    display: block;
    width: 100%;
    background: #43f979;
    font-size: 14px;
    /*border: solid 2px #151515;*/
    padding: 10px 30px;
    font-family: Graphik;
    font-weight: 600;
    color: #151515;
    border-radius: 5px;
    letter-spacing: 1px;
    border: none;
  }

  #gotIt {
    display: none;
  }

  body {
    background-color: #43f979 !important;
    background-image: url(#);
  }

  #switchCameraBtn {
    margin: 0px;
    cursor: pointer;
    visibility: hidden;
    width: 1px;
  }

  .switchCameraContainer {
    display: block;
    background-color: black;
    text-align: left;
  }

  #cameraIcon {
    display: none;
  }
  .counting {
    display: none;
  }

  #cameraBtnLabel {
    display: block;
    color: white;
    margin: 5px;
  }

  #cameraIconMobile {
    display: block;
    text-align: center;
    margin: 5px;
    width: 80%;
    cursor: pointer;
  }

  #contrastBtn {
    display: block;
    text-align: center;
    padding: 10px;
    width: 30px;
    cursor: pointer;
  }

  #downloadLink {
    display: none;
  }

  #editMenu {
    display: none;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .buttonContainerMobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
  }

  #buttonContainerDesktop {
    display: none;
  }

  #exitBtn2 {
    display: none;
  }

  #retake {
    display: none;
  }

  #downloadlink2 {
    display: none;
  }

  /* #processing {
    position: absolute;
    top: 240px;
    display: none;
    align-items: center;
    justify-content: center;
    right: 0%;
    height: 0;
    width: 100%;
  } */

  /* #TurnOnCameraContainer {
    display: none;
  } */
}
